*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 30px;
    background: linear-gradient(90deg, rgba(0, 255, 213, 0.77) 0%, rgba(0, 0, 0, 0.77) 50%, rgba(174, 0, 255, 0.77) 100%);
    position: fixed;
}
a{
    display: inline-block;
}
h3{
    color: white;
}
.cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(63, 63, 63, 0.77) 0%, rgba(255, 255, 255, 0.77) 50%, rgba(0,0,0,0.77) 100%), url(https://th.bing.com/th/id/OIP.aozi7E2awxVD-5XJZAf3fgHaEK?w=251&h=180&c=7&r=0&o=5&pid=1.7);
}
div{
    width: 350px;
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 6px black;  
    padding: 10px;
}
p{
    padding: 5px;
}